@model IEnumerable<POE_PART1_V5.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

@* <form asp-action="Index" method="get" class="mb-3">
    <div class="input-group mb-3">
        <input type="text" name="searchString" value="@Context.Request.Query["searchString"]"
               class="form-control" placeholder="Search by Booking ID or Event Name" />
        <button class="btn btn-dark" type="submit">Search</button>
    </div>
</form>
@if (!string.IsNullOrEmpty(Context.Request.Query["searchString"]))
{
    <div class="alert alert-info">
        Showing results for: <strong>@Context.Request.Query["searchString"]</strong>
    </div>
} *@

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Booking Date
            </th>
            <th>
                Booking End Date
            </th>
            <th>
               Event Name
            </th>
            <th>
              Venue Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEndDate)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
